header {
    font-family: fantasy, serif;
    background: dimgray;
    color: white;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

body {
    background: url('images/mf_doom.jpg') fixed;
    background-size: contain;
    margin: 0;
    font-family: Calibri, serif;
}

table {
    border-collapse: collapse;
}

#coordinate-plate {
    width: 1%;
}

#coordinate-plate svg {
    border-radius: 25px;
}

#input {
    width: 15%;
}

#legend-x, #legend-y, #legend-r {
    border-radius: 10px;
    background: dimgray;
    color: white;
    border-width: 0;
    font-size: 20px;
}

#legend-x legend {
    background: white;
    color: dimgray;
    border-radius: 5px;
}

#input fieldset {
    margin-bottom: 20px;
}

#submit {
    background: dimgray;
    color: white;
    border-radius: 10px;
    border-color: white;
    font-size: 20px;
}

#small {
    font-size: 20px;
}

#result {
    width: 30%;
    vertical-align: top;
}

#result-table {
    max-height: 450px;
    overflow-y: auto;
    display: block;
    border: 2px grey;
    border-collapse: collapse;
    width: 100%;
    background: dimgray;
    color: white;
    border-radius: 13px;
}

#result th, #result td {
    width: 100px;
    text-align: center;
}

#error {
    color: white;
    background-color: black;
    margin-bottom: 20px;
    border-radius: 5px;
}

#result-x {
    width: 10%;
}

#result-y {
    width: 12%;
}

#result-r {
    width: 10%;
}

#result-time {
    width: 24%;
}

#result-now {
    width: 24%;
}

#result-answer {
    width: 22%;
}
